html{
    height: 100%;
}
body{
    margin: 0;
    background-color: black;
}

/* Estilos para Menu */

.seccion-menu{
    width: 100%;
    background-color: white;
    height: 60px;
}
.menu{
    width: 80%;
    height: 60px;
    margin: auto;
}

.logo{
    width: 30%;
    height: 60px;
    float: left;
}
nav{
    width: 70%;
    height: 50px;
    float: left;
    text-align: right;
    margin-top: 8px;
    box-sizing: border-box;
}
/* imagen principal*/
.logo a img{
    width: 120px;
    box-sizing: border-box;
}

/* Estilos para botones de redes sociales */

nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    color: black;
}
nav ul li a:hover{
    color: rgb(11, 175, 5);
}

.primera img{
    width: 100%;
}

.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: rgb(255, 255, 255);
    color: black;
    line-height: 50px;
    font-size: 25px;
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.6);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background-color: #3b5999;
    color: white;
}
.redes-container ul li .instagram:hover{
    background-color: #C13584;
    color: white;
}
.redes-container ul li .youtube:hover{
    background-color: #FF0000;
    color: white;
}
.redes-container ul li .spotify:hover{
    background-color: #1DB954;
    color: white;
}

/* estilos para seccion informativa*/

.parrafo-imagen{
    width: 100%;
}
.secciones{
    width: 90%;
    height: 150px;
    margin: auto;
}
.seccion-info{
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}
.seccion-img{
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}

.linea-corta{
   margin-bottom: 40px;
}
.linea-larga{
    margin-top: 40px;
 }
.raices{
    color: white;
    /*margin-left: 70px;*/
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
}
.seccion-info p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}
.seccion-img img{
    width: 500px;
    display: block;
    margin: auto;
}


.novedades{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}